@using ShoppingApplication24.Models
@model User;

<div class="container">
    <form asp-controller="Account" asp-action="Login" method="post">
        @if (ViewBag.Error != "")
        {

            <p class="text-danger">@ViewBag.Error</p>
        }
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control">
        </div>
        <button class="btn btn-primary btnmargin">Login</button>
    </form>
</div>