@using ShoppingApplication24.Models;
@model ProductStatus;

<div class="container">
    <form asp-controller="Admin" asp-action="CreateUpdateProductStatus" method="post">

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
        </div>
        <button class="btn btn-primary btnmargin">Submit</button>
    </form>
</div>