@using ShoppingApplication24.Models
@model SubCategory

<div class="container">
    <form asp-controller="Admin" asp-action="CreateUpdateSubCategory" method="post">

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
        </div>
        <button class="btn btn-primary btnmargin">Submit</button>
    </form>
</div>